<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ezkeeper.mappers.BillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.ezkeeper.model.Bill">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_custom" property="userCustom" />
        <result column="category_id" property="categoryId" />
        <result column="number" property="number" />
        <result column="time" property="time" />
        <result column="note" property="note" />
    </resultMap>

    <resultMap id="BillResultMap" type="com.example.ezkeeper.model.Bill" extends="BaseResultMap">
        <association property="category" javaType="com.example.ezkeeper.model.BillCategory">
            <id column="cid" property="id" />
            <result column="name" property="name" />
            <result column="incomed" property="incomed" />
        </association>
    </resultMap>

    <select id="getPageByUserId" resultType="com.example.ezkeeper.model.Bill" resultMap="BillResultMap" parameterType="Integer">
        select b.*,
               case when b.user_custom = 0 then bc.id else c.id end as cid,
               case when b.user_custom = 0 then bc.name else c.name end as name,
               case when b.user_custom = 0 then bc.incomed else c.incomed end as incomed
        from bill as b
                left join bill_category as bc on b.category_id = bc.id
                left join custom_bill_category as c on b.category_id = c.id
        where b.user_id = #{userId}
    </select>

    <select id="getAllByUserId" resultType="com.example.ezkeeper.model.Bill" resultMap="BillResultMap" parameterType="Integer">
        select b.*,
               case when b.user_custom = 0 then bc.id else c.id end as cid,
               case when b.user_custom = 0 then bc.name else c.name end as name,
               case when b.user_custom = 0 then bc.incomed else c.incomed end as incomed
        from bill as b
                left join bill_category as bc on b.category_id = bc.id
                left join custom_bill_category as c on b.category_id = c.id
        where b.user_id = #{userId}
    </select>

</mapper>
